# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Problems/Check if an array contains two numbers/out/
/Problems/Check if an array contains two numbers/out/production/classes/
/Problems/Inverse boolean flags/out/
/Problems/Inverse boolean flags/out/production/classes/
/Problems/Sorting numbers/out/
/Problems/Sorting numbers/out/production/classes/
/Problems/Swap the columns/out/
/Problems/Swap the columns/out/production/classes/